<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h5>Contact</h5> 
				<p>
					<img style="width: 32px; height: 32px; vertical-align: middle;" src="/assets/img/about-img/mail.png"/>
					taeyang93002@daum.net<br>
				</p>
			</div>
			<div class="col-md-4">
				<ul class="dsp-flex align-items-stretch footer-ul">
					<li><a href="https://github.com/sunforest99"><img src="../assets/img/footer/github.png"></a></li>
					<li><a href="https://github.com/yuristrap/yuristrap"><img src="../assets/img/footer/yuristrap.png"></a></li>
					<li><a href="https://www.youtube.com/playlist?list=PLpIuIaJJQbTE6ovBvOnzUBcOu0z0uUyEX"><img src="../assets/img/footer/youtube.png"></a></li>
                </ul>
			</div>
		</div>
	</div>
</footer>