.footer {
	bottom: 0;
    width: 100%;
    border-color: #e7e8e6;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    padding: 50px 0px 50px 0px;
    background-color: #f5f7f2;
	&.container {
	width: 100%
	}
}

.border-rounded {
	width : 20rem;
	height: 20rem;
}