.category-card
{
    width: 20rem; 
    margin-bottom: 3rem;
    .category-text
    {
        color: var(--darkColor);
    }
}

.tag-group
{
    padding: 0px 1rem 1rem 1rem;
    .tag
    {
        margin-right: 4px;
    }
}

.about-me {
    margin-top: 4rem;
}

.vl {
    position: relative;
    border-left: 4px solid #b695fd;
    left: 20%;
    height: 5.5rem;
    .circle {
        position: absolute;
        background-color:#b695fd;
        width:10px;
        height:10px;
        border-radius:75px;
        margin:-23px;
        margin-top: 2.5rem;
    }
}