.category-card {
    width: 20rem;
    // margin-top: auto;
    margin: auto;
    margin-bottom: 3rem;

    .category-text {
        color: var(--darkColor);
    }
}

.tag-group {
    padding: 0px 1rem 1rem 1rem;
    margin-left: -1rem;

    &.project {
        margin-left: 0rem;
    }

    .tag {
        margin-right: 4px;
    }
}

.about-me {
    margin-top: 4rem;
}

.vl {
    //position: relative;
    border-left: 4px solid #b695fd;
    left: 10%;
    height: 5.5rem;
    margin-left: 50%;

    .circle {
        position: absolute;
        background-color: #b695fd;
        width: 10px;
        height: 10px;
        border-radius: 75px;
        margin: -23px;
        margin-top: 2.5rem;
    }
}

.div-skills {
    margin-top: 1.5rem;

    .skills-progress {
        width: 300px;
        margin-left: 100px;
    }
}

.history-ul {
    position: absolute;
    margin-top: 1.5rem;
    list-style: none;
    margin-left: -40px;

    &#left {
        width: 14rem;
        margin-left: -16.5rem;
        text-align: right;
    }
}

.footer-ul {
    list-style: none;

    img {
        margin-right: 1rem;
        width: 32px;
        height: 32px;
    }
}

.post {

    ul {
        padding-left: 0px;
    }

    li {
        list-style-position: inside;
    }

    .highlight {
        margin-bottom: 16px;
        padding: 2px 2px 2px 2px;
        background-color: var(--codetagBG);
        border-radius: 5px;
        font-size: 18px;
    }

    blockquote {
        padding-top: 5px;
        padding-bottom: 2px;
        background-color: var(--blockquoteBG);
        border-left: #B897FF 4px solid;
        padding-left: 14px;
    }

    .post-img {
        max-width: 100%;
    }
}

.about-division {
    padding-top: 2rem;
}

.alert{
    &.alert-light
    {
        background-color: #f3f2f5;
        border-radius: 15px 50px;
    }
} 